/* .grid-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50px;
  padding: 10px;
  row-gap: 5px;
  column-gap: 10px;
  border-style: solid;
  border-bottom: 5px;
  border-color: #c0c0c0;
  border-left: none;
  border-right: none;
    border: 10px solid pink;
} */

/*   .grid-content {
    width: 100%;
  height: 100%; */
/*  object-fit: contain; */
/*      object-fit: fit; */
/*         border: 10px solid green; */
  

/* MOBILE RESPONSIVENESS MOBILE PORTRAIT */
@media screen and (max-width: 320px) {
/*     .content {
    width: 100%;
  height: 100%;
 object-fit: contain;
        border: 10px solid green;
  } */
  
/*   .carousel {
        border: 10px solid green;
  } */
}

/* .img {
     border-radius: 8px;
} */

.text {
  color: brown;
}


/* START CAROUSEL */
.arrows {
    display: flex;
   flex-direction: row;
  justify-content: space-around;
  background-color: white;
       border: 1px solid blue;
}

/* .transition-arrow {
  display: flex;
   flex-direction: column;
  justify-content: space-evenly;
} */

.image {
/*   width: 800px; */
    width: 100%;
  height: 600px;
   border-radius: 8px;
  object-fit: contain;
  border: 5px solid pink;
}

/* Next & previous buttons */
.prev-image,
.next-image {
  cursor: pointer;
    position: relative;
  width: auto;
  margin-top: -22px;
  padding: 16px;
    color: brown;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
         border: 5px solid green;
}

/* END CAROUSEL */

/* MEDIA QUERIES MOBILE PORTRAIT FINISH
 */

/* MOBILE RESPONSIVENESS MOBILE LANDSCAPE */
@media screen and (min-width: 321px) and (max-width: 480px) {
.text {
  color: brown;
}

/* START CAROUSEL */
.arrows {
    display: flex;
   flex-direction: row;
  justify-content: space-around;
  background-color: white;
       border: 1px solid blue;
}

.image {
/*     width: 100%;
  height: 800px; */
      width: auto;
  height: 100%;
   border-radius: 8px;
  object-fit: contain;
  border: 5px solid pink;
}

/* Next & previous buttons */
.prev-image,
.next-image {
  cursor: pointer;
    position: relative;
  width: auto;
  margin-top: -22px;
  padding: 16px;
    color: brown;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
         border: 5px solid green;
}
  }
/* MEDIA QUERIES MOBILE LANDSCAPE FINISH
 */

/* MOBILE RESPONSIVENESS TABLET PORTRAIT */
@media screen and (min-width: 481px) and (max-width: 768px) {
.text {
  color: brown;
}

/* START CAROUSEL */
.arrows {
    display: flex;
   flex-direction: row;
  justify-content: space-around;
  background-color: white;
       border: 1px solid blue;
}

.image {
/*   width: 800px; */
    width: 100%;
/*   height: 1000px; */
    height: max;
   border-radius: 8px;
  object-fit: contain;
  border: 5px solid pink;
}

/* Next & previous buttons */
.prev-image,
.next-image {
  cursor: pointer;
    position: relative;
  width: auto;
  margin-top: -22px;
  padding: 16px;
    color: brown;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
         border: 5px solid green;
}
  }
/* MEDIA QUERIES TABLET PORTRAIT FINISH
 */

/* MEDIA QUERIES TABLET LANDSCAPE */
@media screen and (min-width: 769px) and (max-width: 990px) {
  .text {
  color: brown;
}

/* START CAROUSEL */
.arrows {
    display: flex;
   flex-direction: row;
  justify-content: space-around;
  background-color: white;
       border: 1px solid blue;
}

.image {
/*   width: 800px; */
/*     width: 100%;
  height: 800px; */
    width: 100%;
  height: max;
   border-radius: 8px;
  object-fit: contain;
  border: 5px solid pink;
}

/* Next & previous buttons */
.prev-image,
.next-image {
  cursor: pointer;
    position: relative;
  width: auto;
  margin-top: -22px;
  padding: 16px;
    color: brown;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
         border: 5px solid green;
}
  }
/* MEDIA QUERIES TABLET LANDSCAPE FINISH
 */


/* MOBILE RESPONSIVENESS MEDIUM DEVICE */
@media screen and (min-width: 991px) and (max-width: 1024px) {
    .text {
  color: brown;
}

/* START CAROUSEL */
.arrows {
    display: flex;
   flex-direction: row;
  justify-content: space-around;
  background-color: white;
       border: 1px solid blue;
}

.image {
/*   width: 800px; */
/*     width: 100%;
  height: 800px; */
      width: auto;
  height: 100%;
   border-radius: 8px;
  object-fit: contain;
  border: 5px solid pink;
}

/* Next & previous buttons */
.prev-image,
.next-image {
  cursor: pointer;
    position: relative;
  width: auto;
  margin-top: -22px;
  padding: 16px;
    color: brown;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
         border: 5px solid green;
}
  }
/* MEDIA QUERIES MEDIUM DEVICE FINISH
 */

/* MOBILE RESPONSIVENESS LARGE DEVICE */
@media screen and (min-width: 991px) and (max-width: 1024px) {
      .text {
  color: brown;
}

/* START CAROUSEL */
.arrows {
    display: flex;
   flex-direction: row;
  justify-content: space-around;
  background-color: white;
       border: 1px solid blue;
}

.image {
/*   width: 800px; */
/*     width: 100%;
  height: 800px; */
      width: auto;
  height: 100%;
   border-radius: 8px;
  object-fit: contain;
  border: 5px solid pink;
}

/* Next & previous buttons */
.prev-image,
.next-image {
  cursor: pointer;
    position: relative;
  width: auto;
  margin-top: -22px;
  padding: 16px;
    color: brown;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
         border: 5px solid green;
}
  }
/* MEDIA QUERIES LARGE DEVICE FINISH
 */

/* MOBILE RESPONSIVENESS EXTRA LARGE DEVICE */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
        .text {
  color: brown;
}

/* START CAROUSEL */
.arrows {
    display: flex;
   flex-direction: row;
  justify-content: space-around;
  background-color: white;
       border: 1px solid blue;
}

.image {
/*   width: 800px; */
/*     width: 100%;
  height: 800px; */
      width: auto;
  height: 100%;
   border-radius: 8px;
  object-fit: contain;
  border: 5px solid pink;
}

/* Next & previous buttons */
.prev-image,
.next-image {
  cursor: pointer;
    position: relative;
  width: auto;
  margin-top: -22px;
  padding: 16px;
    color: brown;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
         border: 5px solid green;
}
  }
/* MEDIA QUERIES EXTRA LARGE DEVICE FINISH
 */

/* MOBILE RESPONSIVENESS EXTRA EXTRA LARGE DEVICE START */
@media screen and (min-width: 1201px) {
   .text {
  color: brown;
}

/* START CAROUSEL */
.arrows {
    display: flex;
   flex-direction: row;
  justify-content: space-around;
  background-color: white;
       border: 1px solid blue;
}

.image {
/*   width: 800px; */
/*     width: 100%;
  height: 800px; */
      width: auto;
  height: 100%;
   border-radius: 8px;
  object-fit: contain;
  border: 5px solid pink;
}

/* Next & previous buttons */
.prev-image,
.next-image {
  cursor: pointer;
    position: relative;
  width: auto;
  margin-top: -22px;
  padding: 16px;
    color: brown;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
         border: 5px solid green;
}
  }
/* MEDIA QUERIES EXTRA EXTRA LARGE DEVICE FINISH
 */
