/* STYLE THE NAVIGATION MENU */
.page-navigation {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  text-align: center;
  list-style-type: none; /* Remove bullets */
  background-color: #dcdcdc;
  padding: 15px;
  align-items: center;
  font-size: 12px;
  color: white;
}

/* HIDE THE TOP NAVIGATION BAR FOR TABLET AND MOBILE  */
/* MOBILE RESPONSIVENESS MOBILE PORTRAIT */
/* HIDE PAGE NAVIGATION (TOP MENU LIST) */
@media screen and (max-width: 320px) {
  .page-navigation {
    display: none;
  }
}


/* STYLE THE LINKS IN HAMBURGER DROPDOWN */
.topnav a {
  color: #A65E2E;
  font-size: 20px;
  display: block;
  justify-self: right;
  text-decoration: none;
}

/* HIDE myLinks UNTIL HAMBURGER IS CLICKED */
#myLinks {
  display: none;
  position: relative;
  justify-self: right;
  color: white;
}

/* CHANGE HAMBURGER SYMBOL AND LINK COLOUR ON MOUSE-OVER */
/* .topnav a:hover {
  background-color: white;
} */

/* END HAMBURGER MENU */

/* HIDE HAMBURGER MENU FOR DESKTOP  */
@media screen and (min-width: 1280px) {
  .topnav {
    display: none;
  }
}

.topflexbox {
  display: grid;
}

.exclude-menu {
  background-image: url("https://i.imgur.com/ZTLB4n8.jpg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  height: 300px;
  display: flex;
  align-items: top;
  justify-content: space-between;
  padding: 10px;
}


/* START PHOTO SLIDESHOW */


/* MOBILE RESPONSIVENESS MOBILE PORTRAIT 2 START */

@media screen and (max-width: 320px) {
    .page-navigation {
    display: none;
  }
  
  .grid-content {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    padding: 10px;
    row-gap: 5px;
    column-gap: 10px;
    /*     border: 10px solid magenta; */
  }

  .content {
    display: grid;
    max-height: 350px;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    /*     border: 10px solid green; */
  }

  /* START CAROUSEL */
  .arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    /*        border: 1px solid blue; */
  }

  .image {
    max-width: 100%;
    height: 320px;
    border-radius: 8px;
    object-fit: contain;
    /*   border: 5px solid pink; */
  }

  /* Next & previous buttons */
  .prev-image,
  .next-image {
    cursor: pointer;
    position: relative;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: brown;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    border-radius: 25px;
    border: 5px solid tan;
    /*          border: 5px solid green; */
  }
}

/* MOBILE RESPONSIVENESS MOBILE PORTRAIT 2 END */

/* MOBILE RESPONSIVENESS MOBILE LANDSCAPE */
@media screen and (min-width: 321px) and (max-width: 480px) {
      .page-navigation {
    display: none;
  }
  
  .grid-content {
    display: grid;
    grid-template-columns: 1fr;
    /*   height: 100%; */
    height: auto;
    padding: 10px;
    row-gap: 5px;
    column-gap: 10px;
/*     border: 10px solid yellow; */
  }

  .content {
    display: grid;
    max-height: 250px;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    /*     border: 10px solid green; */
  }

  /* START CAROUSEL */
  .arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
/*     border: 1px solid blue; */
  }

  .image {
    max-width: 100%;
    height: 300px;
    border-radius: 8px;
    object-fit: contain;
    /*   border: 5px solid pink; */
  }

  /* Next & previous buttons */
  .prev-image,
  .next-image {
    cursor: pointer;
    position: relative;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: brown;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;

    user-select: none;
    border-radius: 25px;
    border: 5px solid tan;
    /*          border: 5px solid green; */
  }
}
/* MEDIA QUERIES MOBILE LANDSCAPE FINISH
 */

/* MOBILE RESPONSIVENESS TABLET PORTRAIT */
@media screen and (min-width: 481px) and (max-width: 760px) {
     .page-navigation {
    display: none;
  }
  
  .grid-content {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    padding: 10px;
    row-gap: 5px;
    column-gap: 10px;
/*     border: 10px solid green; */
  }

  .content {
    display: grid;
    max-height: 550px;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    /*     border: 10px solid green; */
  }

  /* START CAROUSEL */
  .arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    /*        border: 1px solid blue; */
  }

  .image {
    max-width: 100%;
    max-height: 500px;
    border-radius: 8px;
    object-fit: contain;
/*       border: 5px solid pink; */
  }

  /* Next & previous buttons */
  .prev-image,
  .next-image {
    cursor: pointer;
    position: relative;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: brown;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;

    user-select: none;
    border-radius: 25px;
    border: 5px solid tan;
    /*          border: 5px solid green; */
  }
}
/* MEDIA QUERIES TABLET PORTRAIT FINISH
 */

/* MEDIA QUERIES TABLET LANDSCAPE */
@media screen and (min-width: 761px) and (max-width: 990px) {
       .page-navigation {
    display: none;
  }
  
  .grid-content {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    padding: 10px;
    row-gap: 5px;
    column-gap: 10px;
/*         border: 10px solid orange; */
  }

  .content {
    display: grid;
    max-height: 450px;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    /*     border: 10px solid green; */
  }

  /* START CAROUSEL */
  .arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    /*        border: 2px solid magenta; */
  }

  .image {
    width: 100%;
    height: 400px;
    border-radius: 8px;
    object-fit: contain;
    /*   border: 5px solid pink; */
  }

  /* Next & previous buttons */
  .prev-image,
  .next-image {
    cursor: pointer;
    position: relative;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #a65e2e;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    border-radius: 25px;
    border: 5px solid tan;
  }
}
/* MEDIA QUERIES TABLET LANDSCAPE FINISH
 */

/* MOBILE RESPONSIVENESS MEDIUM DEVICE */
@media screen and (min-width: 991px) and (max-width: 1024px) {
       .page-navigation {
    display: none;
  }
  
  .grid-content {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    padding: 10px;
    row-gap: 5px;
    column-gap: 10px;
    /*     border: 10px solid orange; */
  }

  .content {
    display: grid;
    max-height: 550px;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    /*     border: 10px solid green; */
  }

  /* START CAROUSEL */
  .arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    /*        border: 1px solid blue; */
  }

  .image {
    width: 100%;
    height: 500px;
    border-radius: 8px;
    object-fit: contain;
    /*   border: 5px solid pink; */
  }

  /* Next & previous buttons */
  .prev-image,
  .next-image {
    cursor: pointer;
    position: relative;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: brown;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    border-radius: 25px;
    border: 5px solid tan;
  }
}
/* MEDIA QUERIES MEDIUM DEVICE FINISH
 */

/* MOBILE RESPONSIVENESS EXTRA LARGE DEVICE */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
       .page-navigation {
    display: none;
  }
  
       .page-navigation {
    display: none;
  }
  
  .grid-content {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    padding: 10px;
    row-gap: 5px;
    column-gap: 10px;
/*     border: 10px solid orange; */
  }

  .content {
    display: grid;
    max-height: 750px;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    /*     border: 10px solid green; */
  }

  /* START CAROUSEL */
  .arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
/*     border: 1px solid blue; */
  }

  .image {
    width: 100%;
    height: 750px;
    border-radius: 8px;
    object-fit: contain;
    /*   border: 5px solid pink; */
  }

  /* Next & previous buttons */
  .prev-image,
  .next-image {
    cursor: pointer;
    position: relative;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: brown;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    border-radius: 25px;
    border: 5px solid tan;
  }
}
/* MEDIA QUERIES EXTRA LARGE DEVICE FINISH
 */



/* MOBILE RESPONSIVENESS EXTRA EXTRA LARGE DEVICE START */
@media screen and (min-width: 1201px) {
       .page-navigation {
    display: none;
  }
  
  .grid-content {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    padding: 10px;
    row-gap: 5px;
    column-gap: 10px;
/*     border: 10px solid orange; */
  }

  .content {
    display: grid;
    max-height: 800px;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    /*     border: 10px solid green; */
  }

  /* START CAROUSEL */
  .arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
/*     border: 1px solid blue; */
  }

  .image {
    width: 100%;
    height: 750px;
    border-radius: 8px;
    object-fit: contain;
/*     border: 5px solid pink; */
  }

  /* Next & previous buttons */
  .prev-image,
  .next-image {
    cursor: pointer;
    position: relative;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: brown;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    border-radius: 25px;
    border: 5px solid tan;
  }
}
/* MEDIA QUERIES EXTRA EXTRA LARGE DEVICE FINISH
 */
