h1 {
  font-size: 26px;
  color: #7B4B3A;
  font-family: Wide Latin;
}

h2 {
  font-size: 20px;
  color: #C19A6B;
/*     font-family: Rockwell; */
/*       font-family: Tahoma; */
      font-family: Verdana;
   font-weight: normal;
}

.title-box {
  width: max;
  height: 600px;
  background-image: url("https://i.imgur.com/bTP07ke.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
    text-align: center;
}

/* .main {
  display: flex;
  justify-content: flex-end;
  width: max;
  height: 300px;
  background-image: url("https://i.imgur.com/bTP07ke.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 5px;
} */

  .limerick {
     display: flex;
  justify-content: space-around;
    text-align: center;
    font-size: 18px;
    line-height: 1.8;
          font-family: Verdana;
      color: #C19A6B;
  }

.journey-order {
    color: #7B4B3A;
  text-align: center;
}


/* GRID CONTENT */
.grid-content {
  display: grid;
/*       grid-auto-columns: auto; */
      grid-template-columns: repeat(6, 1fr);
     justify-content: space-between;
  text-align: center;
  height: 200px;
/*   border: 10px solid blue; */
/*   height: auto; */
}

.state {
  display: flex;
  flex-direction: column;
   justify-content: center;
    text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 200px;
  width: auto;
/*     border-style: solid;
  border-width: 1px;
  border-color: #c0c0c0; */  
}

img {
  border-radius: 8px;
  max-height: 100px;
  filter: grayscale(75%);
  /*   border: 10px solid green; */
}
